body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#555;
  background-image: url(https://cutewallpaper.org/21/disco-backgrounds/Disco-Dance-Floor-Background-Loop-Stock-Footage-Video-100-Royalty-free-1379686-Shutterstock.jpg);
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}